test
Please choose an option:
1)Check for Palindrome
2)Find a SquareRoot
3)Quit
Please enter a number.
5.0
Please choose an option:
1)Check for Palindrome
2)Find a SquareRoot
3)Quit
Please enter a number.
5.089204259999789
Please choose an option:
1)Check for Palindrome
2)Find a SquareRoot
3)Quit
Please enter a number.
Invalid
Please choose an option:
1)Check for Palindrome
2)Find a SquareRoot
3)Quit
Please enter the statement.
dogeeseseegod is a palindrome
Please choose an option:
1)Check for Palindrome
2)Find a SquareRoot
3)Quit
Please enter the statement.
dontgeeseseegod is not a palindrome
Please choose an option:
1)Check for Palindrome
2)Find a SquareRoot
3)Quit
Please enter the statement.
do geese see god is a palindrome
Please choose an option:
1)Check for Palindrome
2)Find a SquareRoot
3)Quit
quitter
Please choose an option:
1)Check for Palindrome
2)Find a SquareRoot
3)Quit
